<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>plac7</title>
</head>
<body>
    <div class="container" style="width: 70%;">
        <div class="row">

            <!-- Djangoフォーム利用 -->
            <form action="" method="post">{% csrf_token %}
                <div class="col-2"><label>JAN:</label>{{form.jan}}</div>
                <div class="col-1"><label for="">品番:</label>{{form.hinban}}</div>
                <div class="col-1"><label for="">型番:</label>{{form.kataban}}</div>
            </form>

            <p><hr></p>

            <!-- 手動フォーム -->
            <form action="" method="post">{% csrf_token %}

                    <div class="form-group col-2">
                        <label for="jan">JAN:</label>
                        <input class="form-control" type="text" name="jan" id="jan" readonly>
                    </div>
                    <div class="form-group col-1">
                        <label for="hinban">品番:</label>
                        <input class="form-control" type="text" name="hinban" id="hinban">
                    </div>
                    <div class="form-groupcol-1">
                        <label for="kataban">型番：</label>
                        <select class="form-control" name="kataban" id="kataban">
                            <option value=""></option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                        </select>
                        
                    </div>

            </form>
        </div>
    </div>


    <p><hr></p>
    <div class="container">
        <h2>数値の入力</h2>
        <form id="ajax-number" action="{% url 'plac7:ajax_number' %}" method="POST">
            {% csrf_token %}
            <input type="number" id="number1" required>
            <input type="number" id="number2" required>
            <br><br>
            <label for="hinban">品番：</label>
            <input type="hinban" id="hinban" required>
            <button type="submit" >計算</button>
        </form>

        <h2>数値の計算</h2>
        <div class="result">
        </div>
    </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
          beforeSend: function (xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });




      $('#ajax-number').on('submit', function(e) {
          e.preventDefault();

          $.ajax({
              'url': '{% url "plac7:ajax_number" %}',
              'type': 'POST',
              'data': {
                  'number1': $('#number1').val(),
                  'number2': $('#number2').val(),
                  'hinban': $('#hinban').val(),
              },
              'dataType': 'json'
          })
          .done(function(response){
              $('.result').prepend('<p>引き算結果：' + response.minus + '</p>');
              $('.result').prepend('<p>足し算結果：' + response.plus + '</p>');
              $('.result').prepend('<p>品番：' + response.hinban + '</p>');
              $.each(response.items, function() {
                　//※文字列と結合し、String型と認識させる
                console.log(value);
                })
          });
      });
  </script>
</body>
</html>