{% extends "plac5/base.html" %}

{% block main %}
<div class="container mt-5" style="width: 70%">
    
    <p>@{{request.user}}</p>

    {% for message in  messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{message}}</div>
        {% else %}
            <div class="alert alert-danger" role="alert">{{message}}</div>
        {% endif %}
    {% endfor %}
    
    <p><a href="{% url 'delete' %}">セッション削除</a></p>
    <table class="table table-bordered">
        <tr>
            <th>品番</th>
            <th>品名</th>
            <th>カラー</th>
            <th>サイズ</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.hinban}}</td>
            <td>{{item.hinmei}}</td>
            <td>{{item.color}}</td>
            <td>{{item.size}}</td>
            <td><a href="{% url 'add' item.pk %}"><button type="button" class="btn btn-secondary btn-sm">追加</button></a></td>
        </tr>
        {% endfor %}
    </table>    
    <div style="text-align: center;"><a href="{% url 'send' %}"><button type="button" class="btn btn-primary btn-lg">発注</button></a></div>
</div>
{% endblock %}