{% extends "plac5/base.html" %}

{% block main %}
<div class="container mt-5" style="width: 70%">
    <form action="" method="post" class="form-signin">{% csrf_token %}
        {% if form.errors %}
            <p>ユーザー名かパスワードが間違っています。</p>
        {% endif %}
        <h2>ログイン</h2>
        <label for="username">ユーザー名：</label>
        <input name="username" id="username">
        <br><br>
        <label for="password">パスワード：</label>
        <input name="password" id="password">
        <br><br>
        <input type="submit" value="ログイン">
    </form>
</div>    
{% endblock %}