{% extends "plac5/base.html" %}

{% block main %}
<div class="container mt-5" style="width: 70%">
    <div><a href="{% url 'index' %}">HOME</a></div>
        <table class="table table-bordered">
            <tr>
                <th>品番</th>
                <th>品名</th>
                <th>カラー</th>
                <th>サイズ</th>
                <th></th>
            </tr>
            {% for key,value in context.items %}
            <tr>
                <td>{{value.hinban}}</td>
                <td>{{value.hinmei}}</td>
                <td>{{value.color}}</td>
                <td>{{value.size}}</td>
                <td><a href="{% url 'send_delete' pk=key %}"><button type="button" class="btn btn-secondary btn-sm">削除</button></a></td>
            </tr>
            {% endfor %}
        </table>
    <h2>送り先入力</h2>
</div>
{% endblock %}