<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>plac6</title>

</head>
<body>
    <div class="container mt-5" style="width: 70%">
        <p><a href="/">HOME</a></p>
        <h3>■ CSV取り込みと出力</h3>
        <!-- マスター -->
        <!-- <p>マスターCSV</p>
        <form action="{% url 'master' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv">
            <button type="submit">送信</button>
        </form>
        <hr> -->
        <!-- インポート -->
        <br><br>
        <form action="{% url 'csv_import' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="formFile" class="form-label">変換するCSVを選択してください。</label>
                <input class="form-control" type="file" id="formFile" name="csv2">
              </div>
            <!-- <p><input type="file" name="csv2"></p> -->
            <p><button class="btn btn-primary" type="submit">取込</button></p>
        </form>

        <hr>
        <p>変換形式：{{maker}}</p>
        <p>見積番号：{{mitsumori}}</p>
        <table class="table table-bordered">
            <tr>
                <th>商品詳細</th>
                <th>数量</th>
                <th>登録SKU</th>
            </tr>
            {% for key,value in dict.items %}            
            <tr>
                <td>{{value.hinmei}}</td>
                <td>{{value.num}}</td>
                <td>{{value.sku}}</td>
            </tr>
            {% endfor %}
        </table>

        <hr>
        ※変換後

    </div>
    
</body>
</html>