<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!--　名前基準　-->
        <table border="1" style="border-collapse: collapse">
            <tr>
                <th>名前</th>
                <th>年齢</th>
                <th>クラブ</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>
                    {% for i in item.ura_set.all %}
                    {{i.club}}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
    </table>
    <br>
        {% if data.has_previous %}
        <a href="{% url 'omote' %}"><button>最初へ</button></a>
        <a href="{% url 'omote' %}{{data.previous_page_number}}"><button>前へ</button></a>
        {% else %}
        <button>最初へ</button>
        <button>前へ</button>
        {% endif %}

        {{data.number}}/{{data.paginator.num_pages}}

        {% if data.has_next %}
        <a href="{% url 'omote' %}{{data.next_page_number}}"><button>次へ</button></a>
        <a href="{% url 'omote' %}{{data.paginator.num_pages}}"><button>最後へ</button></a>
        {% else %}
        <button>次へ</button>
        <button>最後へ</button>
        {% endif %}
    <br><br>
    <!--　クラブ基準　-->
    <table border="1" style="border-collapse: collapse">
        <tr>
            <th>クラブ</th>
            <th>名前</th>
        </tr>
        {% for item in clubs %}
        <tr>
            <td>{{item.club}}</td>
            <td>{{item.name2.name}}</td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>