<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plac8_left</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
    .class1 {
        display: flex;
        flex-direction: row;
    }
    .main{
        padding: 0.5em 1em;
        margin: 2em 0;
        background: #FFF;
        border: solid 0.5px lightslategray;
        border-bottom: solid 6px lightslategray;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        text-align: left;
    }
    .main2{
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #FFF;
        background: #6eb7ff;
        border-bottom: solid 6px #3f87ce;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        text-align: left;
    }
</style>
</head>
<body>
    <div align="center">
        <div style="width: 80%;">
            <!-- <div class="main">
                <div class="class1">
                    <div style="width: 300px;">
                        川村
                    </div>
                    <div style="width: 500px;">
                        株式会社プラスワンインターナショナル
                    </div>
                    <div style="width: 300px;">
                        レDM　レメール　レTEL
                    </div>
                </div>
                <div class="class1">
                    <div style="width: 300px;">
                        登録日：2022/10/5
                    </div>
                    <div style="width: 500px;">
                        事業推進部　河野正臣
                    </div>
                    <div style="width: 300px;">
                        受注：1回　￥20,000
                    </div>
                </div>
            </div> -->

            

            <!-- jsテスト -->
            <div>
                <div>
                    <button class="icon-btn">三橋</button>
                    <div class="test">aaa</div>
                </div>
                <div class="box">
                    <button class="icon-btn">阿部</button>
                    <div class="test">bbb</div>
                </div>
                <div class="box">
                    <button class="icon-btn">田島</button>
                    <div class="test">ccc</div>
                </div>
                <div class="box">
                    <button class="icon-btn">花井</button>
                    <div class="test">ddd</div>
                </div>
            </div>

            <hr>
            <div id="aaa" class="apple">あああ</div>
            <div id="bbb" class="apple">いいい</div>

            <button onclick="shoukyo()">消す</button>
            <hr>
            <button>ボタン</button>↓↓
            <div id="none">消えます</div>
            <button>ボタン</button>↓↓
            <div id="none">消えます</div>

        </div>
    </div>
    <script>

        const divHide = document.getElementById('none');
        const Btn = document.querySelector('button');

        divHide.style.display = 'block'; //最初は表示をブロックに
        Btn.addEventListener('click', function (event) {
        none.style.display = 'none'; //要素を消す処理
        });


        function shoukyo(){
        var kesu = document.getElementsByClassName('apple');
        for(var i = 0; i < kesu.length; i++) {
            kesu[i].style.display = "none";
        }
        }

        document.addEventListener('DOMContentLoaded',function(){
            var btns = document.querySelectorAll('.icon-btn');
            
            for(var i = 0; i < btns.length; i++){
                btns[i].addEventListener('click',function(){
                    
                    var tests = document.querySelectorAll('.test');
                    for(var h=0;h<tests.length;h++){
                        if (i==h){
                            tests[h].style.display="none";
                        }
                    }
                    
                    
                },false);
            }
        },false);

    </script>
</body>
</html>